<h2>Catalogo de productos App!</h2>
<button class="btn btn-info btn-sm" (click)="openCart()"> Show cart ({{items.length}})</button>
<div class="row">
    <div [className]="showCart? 'col-9':'col'">
        <catalog [products]="products" (productEventEmitter)="onAddCart($event)" />
    </div>
    @if (showCart) {

    <div class="col-3">
        @if (items.length > 0) { 

        <cart [items]="items" [total]="total" (idProductEventEmitter)="onDeleteCart($event)" />
        } @else {
        <div class="alert alert-warning">
            No hay elementos en el carro!
        </div>
        }
        <button class="btn btn-secondary float-end" (click)="openCart()"> Close cart </button>

    </div>
    }


</div>