<div *ngIf="visible else elseBlock">
  <h2>Welcome to {{ title }}</h2>
</div>


<button (click)="setVisible()">
  Toggle Content
</button>

<div *ngIf="!visible">
  <table *ngIf="user != undefined && user.length > 0 else noData">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let name of user; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ name }}</td>
      </tr>
    </tbody>
  </table>

  

  <ng-template #noData>
    <p>No data available</p>
  </ng-template>
</div>
<ng-template #elseBlock>
  <p>The content is hidden</p>
</ng-template>
